body {
    font-family: 'Roboto', sans-serif;
}

input {
    text-align: center;
}

.mainframe {
    text-align: center;
}

button {
    font-family: 'Roboto Mono', monospace;
    border-radius: 10px;
}

input {
    width: 100%;
    height: 28pt;
    font-size: 20pt;
    font-family: 'Roboto Mono', monospace;
}